<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../JS/webcam.js" defer></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Captura de documento</title>
</head>
<body>
    <h2>Tome una foto del frente de su dni</h2>
    <span> Intente tener una buena iluminación </span>
    <div class='autocapture-img'>
        <video autoplay="true" id="videoElement">
	
	    </video>
    </div>
    <div>
        <a href="/captura-dorso">Siguiente</a>
    </div>
</body>
</html>