<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Autocapture CDN -->
    <script src="https://prod-web-plugins.s3.amazonaws.com/autocapture/autocapture.js" ></script>
    <!-- Liveness optimization -->
    <script src="https://cdn.jsdelivr.net/npm/ua-parser-js@0.7.18/src/uaparser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webrtcadapter/6.2.1/adapter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/siema@1.5.1/dist/siema.min.js"> </script>
    <!-- Liveness CDN -->
    <script src="https://sandbox-webplugins.s3.amazonaws.com/liveness/js/liveness.js" ></script>
    <!-- API Handler -->
    <script src="../js/APIHandler.js" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <title>Document</title>
</head>
<body >
    <!-- 1. AUTOCAPTURA: 2 fotos: doc adelante y atras, Elegir el documento, boton para ir a la siguiente pagina
    2. LIVENESS: 1 foto: cuadro de autocaptura, boton para ir a la siguiente pagina
    3. VERIFICACION: 3 cuadros: 3 fotos, y un loguito que estuvo todo bien -->
    <h1>Face onboard </h1>
    <h3>Realiza el enrolamiento en 3 sencillos pasos</h3>
    <!-- Carrousel -->
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <p>Selecciona el país y el documento de identidad con el que realizarás la verificación</p>
            <img class="d-block w-25" src="/images/slide1.svg" alt="First slide">
        </div>
        <div class="carousel-item">
            <p>Captura ambas caras del documento de identidad</p>
            <img class="d-block w-25" src="/images/slide2.svg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <p>Captura del rostro</p>
            <img class="d-block w-25" src="/images/slide3.svg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
    <!--  -->
    <a href="/selector-de-documento">Comenzar proceso</a>
</body>
</html>