<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Verificacion de identidad</title>
</head>
<body>
    <div>
        <div class="result">
            <img src="/images/dni.jpg">
            <img src="/images/face.jpg" >
        </div>
        <div class="ok">
            <i class="fas fa-check-circle"></i>
            <h3>El proceso ha finalizado correctamente</h3>
            <img src="/images/ok-icon.png">
        </div>
    
    </div>
    <a href="/">Reinicia el proceso</a>
</body>
</html>